*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(231, 231, 231);
}
.h2{
    background-color: black;
    margin: 20px;
}
.newpop{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 580px;
    background-color: rgb(230, 224, 224);
    width: 100%;
    margin: 10px;
}
.newpop .oneh{
    border-radius: 8px;
    border: 1px solid #CED4DA;
    padding: 12px;

}
.newpop .messanger{
    max-width: 520px;
    width: 100%;
    margin: 20px;
}
.newpop .click{
    color: rgb(28, 211, 243);
    margin: 10px;
}
.newpop .oneh:hover{
    border: 1px solid #000;
}
.newpop .oneh:active{
    border: 1px solid #ff0000;
}